#signup-form {
    height: 400px;
}

#signup-credentials-container {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

#signup-credentials-container > * {
    margin: 5px 20px;
    height: 45px;
}

#signup-credentials-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#signup-credentials-container input {
    border: 1px solid #d8d9db;
    border-radius: 4px;
}

#signup-credentials-container button {
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: #da3743;
}

#signup-credentials-container input[type="text"],
#signup-credentials-container input[type="password"] {
    font-size: 15px;
    font: inherit;
    font-weight: 300;
    padding-left: 10px;
}

#signup-credentials-container button[type="submit"] {
    font-size: 15px;
    color: white;
    font: inherit;
    font-weight: 700;
}

#signup-credentials-container button[type="submit"]:hover {
    background-color: #99151e;
}

#signup-credentials-container button[type="submit"]:active {
    background-color: rgb(241, 242, 244);
    color: rgb(111, 115, 123);
}

#errors {
    color: #da3743;
}