h1 {
    font-size: 24px;
    font-weight: 700;
}
  
.restaurant-container {
    display: flex;
    flex-direction: column;
    width: 234px;
    height: 320px;
    margin-top: 5px;
    border-radius: 15px;
    border: 1px solid #d8d9db;
    text-decoration: none;
    color: inherit;
}
  
.image-container {
    width: 234px;
    height: 132px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}
  
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.text-container {
    margin: 6px;
}

.text-container > * {
    margin: 10px 0px;
}

#restaurant-name {
    font-size: 18px;
    font-weight: 600;
}
  
.inline-description {
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 218px;
    font-size: 14px;
    font-weight: 300;
}
  
.inline-description span {
    margin-right: 4px;
    align-self: baseline;
}
  
.inline-description > span:nth-child(2)::before,
.inline-description > span:nth-child(3)::before {
    content: '\2022';
    margin-right: 5px;
    font-size: 10px;
    font-weight: 700;
    position: relative;
    top: -2px;
    align-self: baseline;
}
  
.expense-container {
    display: flex;
    align-items: center;
}
  
.expense-container span {
    font-size: 14px;
    font-weight: 300;
    color: #0003;
    margin-right: 0;
}
  
.expense-container .active {
    color: #2d333f;
}

.carousel {
    width: 1260px;
}

.restaurant-container.raised {
    transform: translateY(-5px);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}
  
.restaurant-container.clicked,
.restaurant-container:active {
    border: 2px solid #3498db;
    border-radius: 17px 17px 15px 15px;
}