.review-index-item {
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
}

.review-user {
    font-weight: bold;
    margin-bottom: 8px;
}

.review-ratings {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.star {
    color: #c2c9d6;
    margin-right: 3px;
}

.star.filled {
    color: #da3743;
}

.review-date {
    font-size: 15px;
    margin-left: 8px;
}

.review-details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 8px 0;
    font-size: 15px;
}

.detail-label {
    margin-right: 6px;
    font-weight: 600;
}

.review-details .detail-label:not(:first-child) {
    margin-left: 6px;
}

.detail-rating {
    color: #da3743;
    margin-right: 6px;
    font-weight: 600;
}

.review-body {
    margin-top: 8px;
    font-size: 15px;
    font-weight: 300;
    overflow-wrap: break-word;
}

.review-divider {
    margin-top: 16px;
}
