/* Reservation box and Reservation edit */
.reservation-box-container,
.reservation-edit-container {
    width: 320px;
    height: 350px;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    position: sticky;
    top: 0;
    box-shadow: 0px 2px 6px rgba(0, 0.2, 0.2, 0.2);
}

.reservation-box-heading,
.reservation-edit-heading {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #d8d9db;
    padding-bottom: 10px;
}

.error-message,
.edit-error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.reservation-box-label,
.reservation-edit-label {
    display: block;
    margin: 10px 0;
    font-size: 14px;
    font-weight: 400;
}

.reservation-box-label select,
.reservation-edit-label select,
.reservation-box-label input[type="date"],
.reservation-edit-label input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    margin-top: 5px;
    border: none;
    outline: none;
    border-bottom: 1px solid #d8d9db;
    font: inherit;
    padding-left: 0;
}

.reservation-box-label select,
.reservation-edit-label select {
    cursor: pointer;
}

.reservation-box-confirm-btn,
.reservation-edit-confirm-btn,
.reservation-box-find-time-btn,
.reservation-edit-find-time-btn,
.reservation-box-available-times button,
.reservation-edit-available-times button {
    font: inherit;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: #da3743;
    color: white;
    font-weight: 400;
    transition: background-color 0.3s;
}

.reservation-box-confirm-btn,
.reservation-edit-confirm-btn {
    background-color: #1c2c54;
}

.reservation-box-available-times button,
.reservation-edit-available-times button {
    padding: 8px 0px;
    font-size: 13px;
}

.reservation-box-confirm-btn,
.reservation-edit-confirm-btn,
.reservation-box-find-time-btn,
.reservation-edit-find-time-btn {
    width: 100%;
    padding: 15px 0px
}

.reservation-box-find-time-btn:hover,
.reservation-edit-find-time-btn:hover,
.reservation-box-available-times button:hover,
.reservation-edit-available-times button:hover {
    background-color: #99151e;
}

.reservation-box-confirm-btn:hover,
.reservation-edit-confirm-btn:hover {
    background-color: #384870;
}

.reservation-box-confirm-btn:active,
.reservation-edit-confirm-btn:active,
.reservation-box-find-time-btn:active,
.reservation-edit-find-time-btn:active,
.reservation-box-available-times button:active,
.reservation-edit-available-times button:active {
    background-color: rgb(241, 242, 244);
    color: rgb(111, 115, 123);
}

.reservation-box-confirm-btn,
.reservation-edit-confirm-btn {
    margin-top: 11px;
}

.reservation-box-available-times,
.reservation-edit-available-times {
    margin-top: 15px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
}

.date-time-container,
.edit-date-time-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    border-bottom: none;
    margin-bottom: 10px;
}

.date-label, .time-label, .date-edit-label, .time-edit-label {
    flex: 1;
    margin: 0;
    padding: 0;
}

.time-label, .time-edit-label {
    margin-right: 0;
}

.date-label input[type="date"],
.date-edit-label input[type="date"] {
    width: 80%;
    box-sizing: border-box;
}

.date-time-container .date-label,
.edit-date-time-container .date-edit-label,
.date-time-container .time-label,
.edit-date-time-container .time-edit-label {
    width: 49%;
    margin-right: 2%;
    box-sizing: border-box;
}

.date-time-container .time-label,
.edit-date-time-container .time-edit-label {
    margin-right: 0;
}

.date-label input,
.date-edit-label input {
    width: 80%;
    margin-right: 10px;
}

.time-label select,
.time-edit-label select {
    width: 100%;
}

.date-label input[type="date"],
.date-edit-label input[type="date"],
.time-label select,
.time-edit-label select {
    padding: 5px 0px;
    font-size: 14px;
    line-height: 1.5;
}

/* Reservation Index Item */

.index-item-reservations-container {
    display: flex;
    align-items: center;
    border: 1px solid #e0e0e0;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.index-item-reservation-image {
    width: 95px;
    height: 95px;
    margin-right: 16px;
    border-radius: 8px;
    object-fit: cover;
}

.index-item-reservation-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.index-item-reservation-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    text-decoration: none;
    color: inherit;
}

.index-item-reservation-status {
    font-weight: bold;
    margin-bottom: 8px;
}

.index-item-reservation-status-confirmed {
    color: green;
}

.index-item-reservation-info {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.index-item-reservation-action {
    border: none;
    background-color: #e0e0e0;
    padding: 6px 12px;
    border-radius: 4px;
    margin-right: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.index-item-reservation-action:hover {
    background-color: #d0d0d0;
}

.index-item-reservations-container button {
    font-family: inherit;
}


/* Reservation Index */

.index-reservations-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-upcoming-reservations-container, .index-past-reservations-container {
    width: 800px;
    margin: 20px 0;
    border: 1px solid #e0e0e0;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.index-reservations-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.index-item-reservation-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.index-reservation-icon {
    font-size: 20px;
}

.index-reservation-party-size,
.index-reservation-date-time {
    font-size: 16px;
    margin-right: 5px;
}

.index-item-reservation-icon-wrapper {
    margin-right: 8px;
}