footer {
    background-color: #2d333f;
    color: #e0e0e0;
    padding: 20px;
    text-align: left;
    /* position: absolute;
    bottom: 0; */
    width: 97.2%;
    display: grid;
    grid-template-columns: 23% 20% 50%;
    font-weight: 200;
}

footer a {
    color: #b5b5b5;
    text-decoration: none;
}

footer a:hover {
    color: #ffffff;
}

.footer-content {
    grid-column-start: 2;
}

.footer-content li {
    margin: 5px;
}

#title {
    font-weight: 400;
    margin-bottom: 10px;
}