.profile {
  position: relative;
}

.profile-dropdown {
  position: absolute;
  border: 1px solid #d8d9db;
  border-radius: 0.18rem;
  padding: 10px;
  width: 175px;
  background-color: white;
}

.profile-dropdown a,
.profile-dropdown button,
.profile-dropdown li {
  text-decoration: none; /* Your other styles here */
  border: none;
  font: inherit;
  font-size: 16px;
  color: #2d333f;
  background-color: white;
  padding: 8px 0px;
}

.profile-dropdown a,
.profile-dropdown button {
  font-weight: 300;
}

#greeting {
  font-weight: 700;
}

#divider {
  border-top: #d8d9db;
  height: 1px;
}

.profile-dropdown button {
  padding: 0px;
  cursor: pointer;
  color: #da3743;
}

.profile-dropdown a:hover,
.profile-dropdown button:hover {
  background-color: #f7f7f7;
}

.profile-dropdown button:hover {
  color: #2d333f;
}

.profile-button-container {
  position: relative;
  margin: 0px 5px;
}

.profile-dropdown-container {
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  z-index: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* display: flex;
  align-items: center; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7px;
  width: 100%;
}

.right-nav {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.left-nav {
  margin-left: 30px;
}

.session-links {
  margin-right: 14px;
}

#sign-in, #sign-up {
  background-color: #247f9e;
  color: white;
  font: inherit;
  font-size: 14px;
  border-width: 0;
  cursor: pointer;
  border-radius: 0.18rem;
  padding: 0px 16px;
  margin: 3px;
  height: 35px;
}

.search {
  border-left: 1px solid #d8d9db;
  padding: 10px 18px;
  margin: 0px 5px;
}

#profile-button {
  color: white;
  background-color: #247f9e;
  border-width: 0;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 0.18rem;
}

.fa-magnifying-glass, .fa-utensils {
  font-size: 20px;
}